/node_modules

# Thallium itself uses dot files for its configs, and these need tested.
!**/.tl.*

# Ignore everything here...none of it's executed, anyways.
/fixtures/glob-stream/**

# The bundle is likely to fail, anyways.
/thallium.js
/thallium-migrate.js
