# General dev crap
/appveyor.yml
/coffeelint.json
/fixtures
/karma.conf.js
/make.js
/mocha
/playground
/roadmap.md
/scripts
/test
/test-util
/tsconfig.json

# Any incomplete, in-progress feature goes here.
/r/dom.js
/r/dom.d.ts

# Specific exclusion because it's used for post-install.
!/scripts/update-clean-assert.js
