# General dev crap
/appveyor.yml
/coffeelint.json
/fixtures
/karma.conf.js
/make.js
/mocha
/playground
/roadmap.md
/scripts
/test
/test-util
/tsconfig.json

# Any incomplete, in-progress feature goes here.
