version: '{build}'
environment:
  matrix:
    - nodejs_version: 4
      task: test:node
    - nodejs_version: 5
      task: test:node
    - nodejs_version: 6
      task: test:node
    - nodejs_version: 7
      task: test:node
    - nodejs_version: 6
      task: test:phantomjs

install:
  - ps: Install-Product node stable
  - npm install
  - ps: Install-Product node $env:nodejs_version

build: off

test_script:
  - node --version
  - npm --version
  - ps: Install-Product node stable
  - node make lint
  - ps: Install-Product node $env:nodejs_version
  - ps: '& node make $env:task'
